language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_TARGET=android-25
    - ANDROID_ABI=armeabi-v7a
android:
  components:
  - tools
  - platform-tools
  - build-tools-26.0.0-preview
  - 'android-O'
  - extra-android-support
  - extra-google-google_play_services
  - extra-android-m2repository
  - extra-google-m2repository
  - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
  licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - '.+'
install:
  - ${ANDROID_HOME}tools/bin/sdkmanager "platforms;android-O" --channel=3
script:
  - ./gradlew build
