<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talentica.androidkotlin.customcamera">

    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.talentica.androidkotlin.customcamera.ui.landing.LandingActivity"
            android:label="@string/title_activity_landing"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.talentica.androidkotlin.customcamera.ui.camera.CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>
</manifest>
